// ------------------ //
// colors
// ------------------ //

$text-primary: hsl(236, 6%, 90%);
$text-secondary: hsl(236, 6%, 56%);
$text-tertiary: hsl(236, 6%, 26%);

$background: hsl(228, 16%, 13%);
$background-2: hsl(229, 15%, 14%);

// ------------------ //
// typography
// ------------------ //

// family
$ff-manrope: "Manrope", sans-serif;

// weights
$fw-regular: 300;
$fw-medium: 600;
$fw-bold: 700;

// sizes
$fs-200: 0.9rem;
$fs-300: 1rem;
$fs-400: 1.2rem;
$fs-500: 1.4rem;
$fs-600: 1.8rem;
$fs-700: 2.5rem;
