@use "variables" as *;
@use "mixins" as *;

.other-details-menu {
  position: fixed;
  z-index: 3;
  height: 100vh;
  right: 0;
  width: 80%;
  background-color: $background-2;
  transform: translateX(2000px);
  border-radius: 30px 0 0 30px;
  transition: 1s;
  overflow-y: auto;
  scrollbar-width: none;

  @supports (scrollbar-width: thin) {
    scrollbar-width: thin;
    scrollbar-color: lighten($color: $background-2, $amount: 10%) transparent;
  }

  &::-webkit-scrollbar {
    width: 5px;

    &-thumb {
      border-radius: 50px;
      background: lighten($color: $background-2, $amount: 10%);
    }
  }

  &.active {
    transform: translateX(0);
  }

  &--close {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    font-weight: $fw-bold;
    border-bottom: 2px solid lighten($color: $background-2, $amount: 5%);

    .close-btn {
      display: grid;
      place-items: center;
      padding: 5px;
      background: transparent;
      border: 0;
      border-radius: 5px;
      transform: scale(0.8);
    }
  }

  &--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    border-bottom: 2px solid lighten($color: $background-2, $amount: 5%);

    &--city-name {
      display: flex;
      gap: 10px;

      span {
        &:first-child {
          font-weight: $fw-bold;
          color: lighten($color: $text-tertiary, $amount: 10%);
          font-size: $fs-200;
        }

        &:last-child {
          font-weight: $fw-bold;
        }
      }
    }

    &--unit-change {
      display: flex;
      align-items: center;

      button {
        font-weight: $fw-medium;
        color: $text-primary;
        padding: 0 15px;
        background: transparent;
        border: 0;
        cursor: pointer;

        &.celsius-btn {
          padding-left: 0;
          border-right: 1px solid $text-secondary;
        }

        &.fahrenheit-btn {
          padding-right: 0;
          border-left: 1px solid $text-secondary;
        }

        &.unselected {
          color: $text-secondary;
        }
      }
    }
  }

  &--weather-details,
  &--forecast {
    padding: 40px 25px;
    border-bottom: 2px solid lighten($color: $background-2, $amount: 5%);
  }

  &--forecast {
    .forecast-cards-container {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  }

  @include media-md() {
    width: 400px;

    &--close {
      padding: 25px 20px;
    }
  }

  @include media-lg() {
    position: initial;
    width: 30%;
    transform: translateX(0);
    animation: come-out 1.25s;
    border-radius: 35px 0 0 35px;

    @supports (backdrop-filter: blur(1px)) {
      backdrop-filter: blur(80px);
      background: rgba($color: $background-2, $alpha: 0.5);
    }

    &--close {
      display: none;
    }

    &--header {
      padding: 30px 30px 25px;
    }

    &--weather-details,
    &--forecast {
      padding: 50px 35px;
    }

    &--forecast {
      .forecast-cards-container {
        margin-top: 35px;
      }
    }
  }

  @include media-lg-2() {
    width: 25%;
  }

  @include media-xl() {
    width: 22%;
  }
}

.details-title {
  font-size: $fs-300;
}

.details-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 30px;

  .detail {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--title {
      font-size: $fs-200;
      font-weight: $fw-bold;
      color: lighten($color: $text-tertiary, $amount: 10%);
    }

    &--value {
      font-weight: $fw-medium;
      color: lighten($color: $text-secondary, $amount: 30%);

      sup {
        margin-left: 2px;
      }

      &-slash {
        color: lighten($color: $text-tertiary, $amount: 10%);
        margin-inline: 5px 7px;
      }
    }
  }

  @include media-lg() {
    margin-top: 35px;
  }
}

.forecast-card,
.other-locations--locations-card {
  padding: 20px;
  border: 2px solid lighten($color: $background-2, $amount: 5%);
  border-radius: 10px;

  &--header {
    display: flex;
    justify-content: space-between;

    .day-condition {
      p {
        font-size: $fs-400;
        font-weight: $fw-bold;
        margin-bottom: 5px;
      }

      span {
        color: lighten($color: $text-tertiary, $amount: 20%);
        font-weight: $fw-bold;
      }
    }
  }

  &--body {
    display: flex;
    flex-direction: column;
    margin-top: 5px;

    .forecast-details,
    .weather-details {
      div {
        position: relative;
        display: flex;
        align-items: center;
        gap: 4px;
        color: $text-secondary;
        font-weight: $fw-medium;
        cursor: default;

        &:first-child {
          gap: 10px;
        }

        img {
          filter: invert(1);
        }

        &:first-child {
          margin-bottom: 5px;
        }

        span {
          color: $text-primary;
          font-weight: $fw-bold;
        }

        .tooltip {
          position: absolute;
          z-index: 100;
          bottom: -42px;
          transform: translateX(-10%);
          display: flex;
          justify-content: center;
          width: 120px;
          color: $text-primary;
          padding: 10px 20px;
          background: lighten($color: $background-2, $amount: 15%);
          border-radius: 5px;
          opacity: 0;
          visibility: hidden;
          transition: 0.3s;

          &::before {
            content: "";
            position: absolute;
            top: -55%;
            left: 50%;
            transform: translateX(-50%);
            border: 10px solid transparent;
            border-bottom-color: lighten($color: $background-2, $amount: 15%);
          }
        }

        &:hover {
          .tooltip {
            visibility: visible;
            opacity: 1;
          }
        }

        &:last-child {
          .tooltip {
            transform: translateX(-18%);
            width: 140px;
          }
        }
      }
    }

    .forecast-temp {
      margin-top: 20px;
      display: flex;
      align-items: center;

      span {
        &:first-child,
        &:last-child {
          font-size: $fs-500;
          font-weight: $fw-bold;
        }

        &:nth-child(2) {
          color: $text-secondary;
          margin-inline: 8px;
        }
      }
    }
  }

  @include media-md() {
    &--body {
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;

      .forecast-temp {
        margin-top: 0;
        padding-bottom: 4px;
      }
    }
  }
}

.forecast-card .icon {
  img {
    width: 100px;
    height: 60px;
    object-fit: cover;
    margin: -5px -23px 0 0;
  }
}

.other-locations {
  padding: 40px 25px;
  border-bottom: 2px solid lighten($color: $background-2, $amount: 5%);

  &--add-new-location {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: lighten($color: $background-2, $amount: 10%);
    margin-top: 30px;
    border-radius: 10px;

    .add-location-input {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      padding: 20px;

      input {
        width: 100%;
        font-weight: $fw-bold;
        color: $text-primary;
        padding: 5px 8px;
        background: transparent;
        border: 2px solid $text-primary;
        border-radius: 5px;
        outline: none;

        &::placeholder {
          color: $text-secondary;
          opacity: 1;
        }

        &:focus {
          border-color: $text-secondary;
        }
      }

      .add-new-location-btn {
        font-weight: $fw-bold;
        color: $text-primary;
        padding: 5px 20px;
        background: transparent;
        border: 2px solid $text-primary;
        border-radius: 5px;
        cursor: pointer;
      }
    }

    .information {
      padding: 20px;

      P:first-child {
        font-weight: $fw-bold;
        margin-bottom: 5px;
      }

      p:last-child {
        line-height: 1.3;
        font-weight: $fw-medium;
        color: lighten($color: $background-2, $amount: 55%);
      }
    }

    .add-illustration {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 20px 20px;
      font-size: 5rem;
      font-weight: 100;
      color: lighten($color: $background-2, $amount: 20%);
      cursor: pointer;
    }
  }

  &--locations {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;

    &-card {
      .icon {
        margin: -10px -5px 0 0;
      }

      &--body {
        justify-content: space-between;
        flex-direction: row !important;
        margin-top: 20px !important;
      }

      .temp {
        font-size: $fs-700;
        font-weight: $fw-bold;
        padding-bottom: 3px;
      }
    }
  }

  @include media-lg() {
    padding-inline: 35px;

    &--add-new-location {
      margin-top: 35px;
      flex-direction: row;
      align-items: center;

      .add-location-input,
      .information {
        width: 70%;
      }

      .add-illustration {
        width: 30%;
        padding: 0 20px 0 0;
      }
    }
  }
}

.attribution {
  padding: 40px 25px;

  &--links {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;

    &--link {
      p {
        font-size: $fs-300;
        font-weight: $fw-bold;
        color: lighten($color: $text-tertiary, $amount: 10%);
        margin-bottom: 15px;
      }

      div {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }
  }

  &--made-by {
    text-align: center;
    margin-top: 30px;
  }

  a {
    display: inline-block;
    text-decoration: none;
    font-weight: $fw-medium;
    color: lighten($color: $text-secondary, $amount: 30%);
    transition: 0.3s;

    &:hover {
      color: $text-secondary;
    }
  }
}
